{% extends "layout.html" %}
{% block content %}
<head>
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='styles/stations_by_line.css')}}">

</head>
<body>
    {% if delayed_schedules is not none %}
        <table class="styled-table">
            <thead>
                <tr>
                    <th>Line</th>
                    <th>Direction</th>
                    <th>Time</th>
                    <th>Starting Station</th>
                    <th>Delay</th>
                    {% if is_admin %}
                    <th></th>
                    {% endif %}
                </tr>
            </thead>
            <tbody>
            {% for index, row in delayed_schedules.iterrows() %}
                <tr class="active-row">
                    <td>{{ row['Line'] }}</td>
                    <td>{{ row['Direction'] }}</td>
                    <td>{{ row['Time'] }}</td>
                    <td>{{ row['Starting Station'] }}</td>
                    <td>{{ row['Delay'] }}</td>
                    {% if is_admin %}
                    <td>
                        <a href="{{ 'remove-delay/%s/%s/%s/%s' % (row['Line'], row['Direction'], row['Time'], row['Starting Station']) }}"
                        action="GET">
                            Remove Delay
                        </a>
                    </td>
                    {% endif %}
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% else %}
    <h1>
        There are currently no delays.
    </h1>
    {% endif %}
</body>
{% endblock content %}