<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/stations_by_line.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/navbar.css') }}">
</head>
<body>
    <style> .navbar ul { list-style-type: none; }</style>
    {{ nav.navbar.render() }}
    <table class="styled-table">
        <thead>
            <tr>
                <th>Line</th>
                <th>Direction</th>
                <th>Time</th>
                <th>Starting Station</th>
                <th>Delay</th>
            </tr>
        </thead>
        <tbody>
        {% for index, row in delayed_schedules.iterrows() %}
            <tr class="active-row">
                <td>{{ row['Line'] }}</td>
                <td>{{ row['Direction'] }}</td>
                <td>{{ row['Time'] }}</td>
                <td>{{ row['Starting Station'] }}</td>
                <td>{{ row['Delay'] }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</body>
</html>