{% extends "layout.html" %}
{% block content %}
<head>
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='styles/plan_trip.css')}}">
</head>
<div class="content-section">
    <h2>
        Plan a Trip
    </h2>
    <form method="GET" action="/plan-trip">
        <label>
            Starting Station:
        </label>
        <select name="start_station" class="js-example-basic-single">
        {% for station in stations %}
          <option value= "{{ station.station_name, station.entrances }}">
              <column>{{ station.station_name }},</column>
              <column>&nbsp{{ station.entrances }}</column>
          </option>
        {% endfor %}
        </select>
        <label>
            Ending Station:
        </label>
        <select name="end_station" class="js-example-basic-single">
        {% for station in stations %}
          <option value="{{ station.station_name, station.entrances }}">
              <column>{{ station.station_name }},</column>
              <column>&nbsp{{ station.entrances }}</column>
          </option>
        {% endfor %}
        </select>
        <input type="submit" value="Schedule">
    </form>
</div>

<script>
    $(document).ready(function() {
        $('.js-example-basic-single').select2();
        });
</script>
{% endblock content %}
