{% extends "layout.html" %}
{% block content %}
<head>
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='styles/stations_by_line.css')}}">
</head>
<div>
    <table class="styled-table">
        <thead>
            <tr>
                <th>Line</th>
                <th></th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
        {% for line in lines %}
            <tr class="active-row">
                <td>{{ line }}</td>
                <td>
                    <a href={{ "lines?line=" ~ line }} action="GET">
                        View Stops
                    </a>
                </td>
                {% if line in schedules %}
                <td>
                    <a href = {{ "schedules?line=" ~ line ~ "&direction=" ~ schedules[line][0] }} action="GET">
                        {{ schedules[line][0] }} Schedule
                    </a>
                </td>
                <td>
                    <a href = {{ "schedules?line=" ~ line ~ "&direction=" ~ schedules[line][1] }} action="GET">
                        {{ schedules[line][1] }} Schedule
                    </a>
                </td>
                {% else %}
                <td></td>
                <td></td>
                {% endif %}
            </tr>
        </tbody>
        {% endfor %}
    </table>
</div>
{% endblock content %}