{% extends "layout.html" %}
{% block content %}
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/stations_by_line.css') }}">
    <title>{{ line + " Line" }}</title>
</head>
<body>
    <table class="styled-table">
        <thead>
            <tr>
                <th>Station Name</th>
                <th>Location</th>
                <th>Borough</th>
                <th>Status</th>
                {% if is_admin == True %}
                <th>
                    Options
                </th>
                {% endif %}
            </tr>
        </thead>
        <tbody>
        {% for station in stations %}
            <tr class="active-row">
                <td>{{ station.station_name }}</td>
                <td>{{ station.entrances }}</td>
                <td>{{ station.borough }}</td>
                <td>{{ station.status }}</td>
                {% if is_admin == True %}
                <td>
                    <a href="{{ "/change-status/" ~ line ~ "/" ~ station.station_name ~ "/" ~ station.entrances}}">
                        Change Status
                    </a>
                </td>
                {% endif %}
            </tr>
        </tbody>
        {% endfor %}
    </table>
</body>
{% endblock content %}